@import url('http://fonts.cdnfonts.com/css/bw-nista-grotesk-demo');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Bw Nista Grotesk', sans-serif;

}
button{
  cursor: pointer;
}
.main{
  min-height: 100vh;
  width: 100%;
  background-image: url("https://papers.co/wallpaper/papers.co-we14-pattern-background-apple-iphone12-rainbow-36-3840x2400-4k-wallpaper.jpg");
  background-size: cover;
  object-fit: cover;
  position: relative;
  background-repeat: no-repeat;

}
.img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}
.side-bar{
  position: absolute;
  left: auto;
  right: 0;
  top: 106px;
  height: 869px;
  max-height: calc(100vh - 200px);
}
.side-bar__content{
  width: 106px;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 7px;
  background: #35383D 0% 0% no-repeat padding-box;
  opacity: 45%;
  backdrop-filter: blur(25px);
  border-radius: 20px 0px 0px 20px;
  -webkit-backdrop-filter: blur(25px);
}
.side-bar__content::after {
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  top: 0;
  left: -100px;
  background: #35383D 0% 0% no-repeat padding-box;
  opacity: 45%;
  backdrop-filter: blur(25px);
  border-radius: 20px 0px 0px 20px;
  -webkit-backdrop-filter: blur(25px);
  clip-path: polygon(0 0, 100% 0, 100% 100%);
}
.message__page{
  background-position: center;
  background-size: cover;
  object-fit: cover;
  position: relative;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  background-image: url("https://media1.popsugar-assets.com/files/thumbor/Y1wJAtSuot1QcrenKIalufEm8kQ/fit-in/2048xorig/filters:format_auto-!!-:strip_icc-!!-/2021/06/01/903/n/1922507/tmp_HJ6Pdq_016ca8c7bc164ea9_Screen_Shot_2021-06-01_at_4.27.40_PM.png");
}
.message__box{
  position: absolute;
  right: 36px;
  bottom: 36px;
  background: #1F1F22;
  box-shadow: 0px 20px 40px #0000007D;
  border-radius: 10px;
  width: 335px;
  height: 120px;
  display: flex;
  align-items: center;
  padding: 0 27px;
}
.message__img{
  width: 78px;
  height: 78px;
  border-radius: 50%;
  margin-right: 20px;
}
.message__author{
  text-align: left;
  font: normal normal normal 15px/18px 'Bw Nista Grotesk';
  letter-spacing: 0.6px;
  color: #FFFFFF;
  margin-bottom: 2px;
  font-family: 'Bw Nista Grotesk', sans-serif;
}
.message__type{
  text-align: left;
  font: normal normal normal 12px/15px Bw Nista Grotesk;
  letter-spacing: 0.48px;
  color: #C6D2FB;
  opacity: 0.7;
  margin-bottom: 9px;
  font-family: 'Bw Nista Grotesk', sans-serif;
}
.message__button--box{
  display: flex;
  align-items: center;
  margin-bottom: 9px;
}
.message__voice--box{
  display: flex;
  align-items: center;
  padding: 0 12px;
  width: 66px;
  height: 33px;
  background: #02C266 0% 0% no-repeat padding-box;
  border-radius: 10px;
  margin-right: 6px;
}
.message__voice--box>p{
  font: normal normal normal 12px/0 Bw Nista Grotesk;
  letter-spacing: 0.48px;
  color: #FFFFFF;
  font-family: 'Bw Nista Grotesk', sans-serif;

}
.message__button--dismiss{
  font: normal normal normal 12px/30px Bw Nista Grotesk;
  font-family: 'Bw Nista Grotesk', sans-serif;
  letter-spacing: 0.48px;
  color: #FFFFFF;
  border: none;
  width: 68px;
  height: 33px;
  background: rgb(55,54,55);
  border-radius: 10px;
  cursor: pointer;
}
.voice__box--icon>path{
  fill: white;
}
.voice__box--icon{
  margin-right: 6px;
  height: 14px;
  width: 10px;
  cursor: pointer;
}
.display--none{
  display: none;
}
.call-window{
  position: absolute;
  cursor: move;
  margin: auto;
  user-select: none;
  right: 33px;
  top: 57px;
  width: 400px;
  z-index: 500;
}
.call-window--box{
  background: #3C4A57;
  box-shadow: 0px 20px 40px #000000;
  border-radius: 10px;
  width: 331px;
  height: 197px;
  box-sizing: border-box;
  padding: 7px;
}
.call__img--box{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 317px;
  height: 134px;
  background: #4D5A65;
  border-radius: 4px;
  margin-bottom: 10px;
}
.call__participant--img{
  width: 112px;
  height: 112px;
  border-radius: 50%;
  margin: 0 6px;
  opacity: 10;
  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 1px 1px 1px 1px;
}
.call__option--box{
  display: flex;
  align-items: center;
}
.call__option--box>div{
  height: 36px;
  min-width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 11px;
  border-radius: 10px;
  background: #4D5A65;
  cursor: pointer;
  max-width: 58px;
  margin: 0 4px;
}
.call__option--icon:first-child{
  width: 16px;
  fill: white;
}
.option__icon--arrow{
  margin-left: 14px;
  /*width: 7px;*/
  height: 6px;
}
.call__option--box>.end-call{
  width: 47px;
  height: 36px;
  background: #D13636 0% 0% no-repeat padding-box;
  border-radius: 10px;
}
.end-call>img{
  width: 19px;
}
.call__connection--box{
  position: relative;
  left: -255px;
  margin-top: 8px;
  width: 481px;
  height: 431px;
  background: rgba(53, 56, 61, 0.55);
  box-shadow: 0px 20px 40px #000000;
  border-radius: 10px;
  opacity: 1;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  padding-top: 25px;
}
.call__connection--header{
  display: flex;
  justify-content: center;
  margin-bottom:24px;
}
.call__connection--header>input{
  width: 218px;
  height: 36px;
  background: rgba(53, 56, 61, 0.05);
  border-radius: 13px;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  text-align: left;
  font: normal normal normal 14px/30px Bw Nista Grotesk;
  letter-spacing: 0.56px;
  color: #FFFFFF;
  margin-right: 14px;
  outline: none;
  border: none;
  padding: 0 9px;
  font-family: 'Bw Nista Grotesk', sans-serif;

}
.call__connection--header>div{
  font-family: 'Bw Nista Grotesk', sans-serif;
  background: rgba(94, 93, 96, 0.49);
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  min-width: 95px;
  height: 36px;
  text-align: left;
  font: normal normal normal 12px/30px Bw Nista Grotesk;
  letter-spacing: 0.48px;
  color: #FFFFFF;
  margin: 0 4px;
  justify-content: center;
  font-family: 'Bw Nista Grotesk', sans-serif;
  cursor: pointer;
}
.call__connection--item{
  display: flex;
  align-items: center;
  padding: 10px 22px;
  border-bottom:  1px solid #00000043;
}
.call__connection--item>img{
  width: 53px;
  height: 53px;
  border-radius: 50%;
  margin-right: 15px;
}
.info>h2{
  text-align: left;
  font: normal normal bold 15px/18px Bw Nista Grotesk;
  letter-spacing: 0px;
  color: #FFFFFF;
  font-family: 'Bw Nista Grotesk', sans-serif;
  margin-bottom: 2px;
}
.info>h3{
  text-align: left;
  font: normal normal normal 12px/15px Bw Nista Grotesk;
  letter-spacing: 0.48px;
  color: rgba(215, 203, 203, 0.62);
  font-family: 'Bw Nista Grotesk', sans-serif;
}
.call--button{
  display: flex;
  border-radius: 13px;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  width: 71px;
  height: 40px;
  text-align: left;
  font: normal normal normal 12px/30px Bw Nista Grotesk;
  letter-spacing: 0px;
  color: #FFFFFF;
  font-family: 'Bw Nista Grotesk', sans-serif;
  border: none;
  background: rgba(94, 93, 96, 0.49);
}
.call__connection--content{
  overflow-y: scroll;
  width: 100%;
  height: 85%;
}
::-webkit-scrollbar {
  width: 1px;
  padding-right: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: none;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:  none;
  border-radius: 10px;
  width: 4px;
  position: relative;
  right: 10px;
}

/* Handle on hover */
